In [8]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir("input"))

['data.csv']

In [10]:
data = pd.read_csv('input/data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [11]:
len(data)

1890

# Предобработка датасета

In [12]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [15]:
data[data.budget == data.budget.max()].original_title

491    The Warrior's Way
Name: original_title, dtype: object

In [16]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [17]:
data[data.runtime == data.runtime.max()].original_title

1158    Gods and Generals
Name: original_title, dtype: object

In [18]:
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [19]:
data[data.runtime == data.runtime.min()].original_title

769    Winnie the Pooh
Name: original_title, dtype: object

In [20]:
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [21]:
data.runtime.mean()

109.65343915343915

In [22]:
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [23]:
data.runtime.median()

106.5

In [24]:
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [25]:
data['profit'] = data['revenue'] - data['budget']
data[data.profit == data.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

In [26]:
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [27]:
data[data.profit == data.profit.min()].original_title

491    The Warrior's Way
Name: original_title, dtype: object

In [28]:
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [32]:
len(data[data.profit > 0])

1478

In [33]:
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [37]:
data_2008 = data[data.release_year == 2008]
data_2008[data_2008.profit == data_2008.profit.max()].original_title

600    The Dark Knight
Name: original_title, dtype: object

In [38]:
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [40]:
data_new = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
data_new[data_new.profit == data_new.profit.min()].original_title

1246    The Lone Ranger
Name: original_title, dtype: object

In [41]:
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [45]:
genre_set = set()
for text in data.genres:
    for genre in text.split('|'):
        genre_set.add(genre)

In [48]:
genre_cnt = []
for genre in genre_set:
    genre_cnt.append([genre, len(data[data.genres.str.contains(genre)])])
    
genre_df = pd.DataFrame(genre_cnt, columns = ['genre', 'cnt'])
genre_df[genre_df.cnt == genre_df.cnt.max()].genre

8    Drama
Name: genre, dtype: object

In [44]:
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [53]:
data_new = data[data.profit > 0]

genre_cnt = []
for genre in genre_set:
    genre_cnt.append([genre, len(data_new[data_new.genres.str.contains(genre)])])
    
genre_df = pd.DataFrame(genre_cnt, columns = ['genre', 'cnt'])
genre_df[genre_df.cnt == genre_df.cnt.max()].genre

8    Drama
Name: genre, dtype: object

In [54]:
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [55]:
data.director.value_counts()

Steven Soderbergh            13
Ridley Scott                 12
Clint Eastwood               12
Shawn Levy                   10
Steven Spielberg             10
                             ..
Peter Cattaneo                1
Sergey Bodrov                 1
Eli Roth                      1
Sean McNamara                 1
Stephen Anderson|Don Hall     1
Name: director, Length: 958, dtype: int64

In [56]:
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [57]:
data_new.director.value_counts()

Ridley Scott                12
Steven Spielberg            10
Steven Soderbergh           10
Clint Eastwood              10
Shawn Levy                   9
                            ..
Jon Amiel                    1
Lawrence Kasdan              1
Jeremy Garelick              1
Seth Rogen|Evan Goldberg     1
John Hillcoat                1
Name: director, Length: 774, dtype: int64

In [58]:
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [65]:
pivot = data.pivot_table(
    values=['profit'],
    index=['director'],
    aggfunc='sum')

pivot[pivot.profit == pivot.profit.max()]

                   profit
director
Peter Jackson  5202593685

In [66]:
answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [67]:
cast_set = set()
for text in data.cast:
    for actor in text.split('|'):
        cast_set.add(actor)
        
actor_profit = []
for actor in cast_set:
    actor_profit.append([actor, data[data.cast.str.contains(actor)].profit.sum()])
    
actor_df = pd.DataFrame(actor_profit, columns = ['actor', 'profit'])
actor_df[actor_df.profit == actor_df.profit.max()].actor

2771    Emma Watson
Name: actor, dtype: object

In [68]:
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [69]:
data_new = data[data.release_year == 2012]

actor_profit = []
for actor in cast_set:
    actor_profit.append([actor, data_new[data_new.cast.str.contains(actor)].profit.sum()])
    
actor_df = pd.DataFrame(actor_profit, columns = ['actor', 'profit'])
actor_df[actor_df.profit == actor_df.profit.min()].actor

1573    Kirsten Dunst
Name: actor, dtype: object

In [70]:
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [71]:
data_new = data[data.budget > data.budget.mean()]

actor_cnt = []
for actor in cast_set:
    actor_cnt.append([actor, len(data_new[data_new.cast.str.contains(actor)])])
    
actor_df = pd.DataFrame(actor_cnt, columns = ['actor', 'cnt'])
actor_df[actor_df.cnt == actor_df.cnt.max()].actor

2198    Matt Damon
Name: actor, dtype: object

In [72]:
answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [73]:
data_new = data[data.cast.str.contains('Nicolas Cage')]

genre_cnt = []
for genre in genre_set:
    genre_cnt.append([genre, len(data_new[data_new.genres.str.contains(genre)])])
    
genre_df = pd.DataFrame(genre_cnt, columns = ['genre', 'cnt'])
genre_df[genre_df.cnt == genre_df.cnt.max()].genre

1    Action
Name: genre, dtype: object

In [74]:
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [81]:
comp_set = set()
for text in data.production_companies:
    for company in text.split('|'):
        comp_set.add(company)
        
comp_cnt = []
for company in comp_set:
    comp_cnt.append([company, len(data[data.production_companies.str.contains(company)])])
    
comp_df = pd.DataFrame(comp_cnt, columns = ['company', 'cnt'])
comp_df[comp_df.cnt == comp_df.cnt.max()].company

1443    Universal
Name: company, dtype: object

In [82]:
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [84]:
data_new = data[data.release_year == 2015]

comp_cnt = []
for company in comp_set:
    comp_cnt.append([company, len(data_new[data_new.production_companies.str.contains(company)])])
    
comp_df = pd.DataFrame(comp_cnt, columns = ['company', 'cnt'])
comp_df[comp_df.cnt == comp_df.cnt.max()]

           company  cnt
916   Warner Bros.   12
1443     Universal   12

In [85]:
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [86]:
data_new = data[data.genres.str.contains('Comedy')]

comp_profit = []
for company in comp_set:
    comp_profit.append([company, data_new[data_new.production_companies.str.contains(company)].profit.sum()])
    
comp_df = pd.DataFrame(comp_profit, columns = ['company', 'profit'])
comp_df[comp_df.profit == comp_df.profit.max()]

        company      profit
1443  Universal  9130349034

In [87]:
answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [88]:
data_new = data[data.release_year == 2012]

comp_profit = []
for company in comp_set:
    comp_profit.append([company, data_new[data_new.production_companies.str.contains(company)].profit.sum()])
    
comp_df = pd.DataFrame(comp_profit, columns = ['company', 'profit'])
comp_df[comp_df.profit == comp_df.profit.max()]

               company      profit
934  Columbia Pictures  2501406608

In [89]:
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [90]:
data_new = data[data.production_companies.str.contains('Paramount Pictures')]

data_new[data_new.profit == data_new.profit.min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
926,tt0267626,0.72233,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,146,6.0,2002,-64831034

In [91]:
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [92]:
pivot = data.pivot_table(
    values=['profit'],
    index=['release_year'],
    aggfunc='sum')

pivot[pivot.profit == pivot.profit.max()]

                   profit
release_year
2015          18668572378

In [93]:
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [94]:
data_new = data[data.production_companies.str.contains('Warner Bros')]

pivot = data_new.pivot_table(
    values=['profit'],
    index=['release_year'],
    aggfunc='sum')

pivot[pivot.profit == pivot.profit.max()]

                  profit
release_year
2014          2295464519

In [95]:
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [132]:
import datetime

In [142]:
data['date'] = pd.to_datetime(data['release_date'])

def what_month(dt):
    return dt.month

data['month'] = data['date'].apply(what_month)

data.month.value_counts()

9     227
12    191
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

In [143]:
answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [144]:
len(data.loc[data['month'].isin([6,7,8])])

450

In [145]:
answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [146]:
data_new = data.loc[data['month'].isin([1,2,12])]

data_new.director.value_counts()

Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Nancy Meyers         4
Adam Shankman        4
                    ..
Jeremy Garelick      1
Tim Story            1
Andy Muschietti      1
Doug Liman           1
Walter Hill          1
Name: director, Length: 333, dtype: int64

In [147]:
answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [174]:
pivot = data.pivot_table(
    values=['profit'],
    index=['month'],
    columns=['release_year'],
    aggfunc='sum')

pivot

                  profit                                                  \
release_year        2000        2001        2002        2003        2004
month
1              -26344591   127876758    13657034   145423503   223449403
2              310137593   178360689   557847442   422979087   727540831
3              490709929   396218262   832386092   160261385   307233119
4              124362846   659725033   343737203   479653942   275005057
5             1382722190   767934975  1421928692  2000292657  2412578839
6              517315528   780612105   747704475   406445507  1294266591
7              563809888   873718941   629306797  1356384641   834850950
8              264018332   726979609   579318434   444992536   332763539
9              175306761    21874909   417267245   503313816   475369751
10             399938512   146204533   420527680   837090991   593314410
11             487934818  1567240927  1190606216   609390731  1050846495
12            1411487999  1703868124  1848074177  1862594516  1106961735

                                                                          \
release_year        2005        2006        2007        2008        2009
month
1              419099490   138996816    91188025   440344541   996529660
2              506931359   317624889   500661304   987454669   326413800
3              440128754   799504296   714586308   251671904  1276096794
4              178673498   361121653   143245753   720571689   651749767
5             1575566228   985092012  2042169546  1744305931  1435747314
6             1193230558  2098059770  2764341802  1943384763  1520284741
7              870215460   242337901   747619985  1791301749  1202339588
8              266644459   429249082   881421482   325382603   803565587
9              995622427   451456811   435838557   339476350   393041320
10             154493344   826087838   516228592  1145762453   836577088
11            1027204825  1106305898   896805244   847289768   558158975
12            1354115156   935240354  1831805203  1126935570  3423239738

                                                                          \
release_year        2010        2011        2012        2013        2014
month
1              233051923   591644835   381045653   449051535   541637085
2              671341193   642751509   573073426   509981099   736685970
3             1471122239  1443419914  1459834347   970223425  1768873778
4              841530415  1507477958  1767272417  1423545114   795767674
5             1105092975  1917491757  1140614925  1724496337  2279978281
6             2449561498  1524706926  2965481705  2411922008  1176264662
7             1567485183  2331661017   940512033  1192996016  1611081683
8              971023396   667283164   702588445   590070005  1163610627
9             1091274243   733166385  1308166465  1165693297   596366679
10            1080204976   968743489  1320250459  1042812263  1764509467
11             736020890   859313689  2412991475  2047380217  2043956761
12             899583599  1542580698  1105170337  1715008475  1919080286


release_year        2015
month
1              630233784
2              884789565
3              937945994
4             2602565518
5             1103503482
6             3757679861
7             1552273188
8              491699146
9             1775686025
10             942161764
11            1212708544
12            2777325507

In [175]:
answer_ls.append(3)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [107]:
data['title_len'] = data['original_title'].apply(len)

comp_title_len = []
for company in comp_set:
    comp_title_len.append([company, data[data.production_companies.str.contains(company)].title_len.mean()])
    
comp_df = pd.DataFrame(comp_title_len, columns = ['company', 'title_len'])
comp_df[comp_df.title_len == comp_df.title_len.max()]

                      company  title_len
1509  Four By Two Productions       83.0

In [176]:
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [110]:
def word_len(text):
    return len(text.split())

data['title_word_len'] = data['original_title'].apply(word_len)

comp_title_len = []
for company in comp_set:
    comp_title_len.append([company, data[data.production_companies.str.contains(company)].title_word_len.mean()])
    
comp_df = pd.DataFrame(comp_title_len, columns = ['company', 'title_len'])
comp_df[comp_df.title_len == comp_df.title_len.max()]

                      company  title_len
1509  Four By Two Productions       12.0

In [177]:
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [113]:
title_set = set()
for text in data.original_title:
    for word in text.split():
        title_set.add(word.lower())
        
len(title_set)

2461

In [178]:
answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [120]:
data[data.vote_average >= data.vote_average.quantile(.99)].original_title

9                                              Inside Out
28                                              Spotlight
34                                                   Room
118                                          Interstellar
119                               Guardians of the Galaxy
124                                            Big Hero 6
125                                    The Imitation Game
128                                             Gone Girl
138                              The Grand Budapest Hotel
155                              The Theory of Everything
177                                The Fault in Our Stars
283                                            Mr. Nobody
316                                              3 Idiots
370                                             Inception
497     The Lord of the Rings: The Fellowship of the Ring
600                                       The Dark Knight
864                 The Lord of the Rings: The Two Towers
873                                           The Pianist
1082        The Lord of the Rings: The Return of the King
1184                              The Wolf of Wall Street
1189                                                  Her
1192                                     12 Years a Slave
1206                                            Prisoners
1214                                   Dallas Buyers Club
1445                                         The Prestige
1564                Eternal Sunshine of the Spotless Mind
1689                                  There Will Be Blood
1801                                              Memento
Name: original_title, dtype: object

In [179]:
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [121]:
import itertools

In [129]:
# cast_pairs = list(itertools.combinations(cast_set, 2))
# слишком долго

cast_pairs = [('Johnny Depp', 'Helena Bonham Carter'), ('Hugh Jackman', 'Ian McKellen'), 
              ('Vin Diesel ', 'Paul Walker'), ('Adam Sandler', 'Kevin James'), ('Daniel Radcliffe', 'Rupert Grint')]

cast_pairs_cnt = []

for pair in cast_pairs:
    data_new = data[data.cast.str.contains(pair[0])]
    cast_pairs_cnt.append([pair, len(data_new[data_new.cast.str.contains(pair[1])])])
    
cast_pairs_df = pd.DataFrame(cast_pairs_cnt, columns = ['pair', 'cnt'])
cast_pairs_df[cast_pairs_df.cnt == cast_pairs_df.cnt.max()]

                               pair  cnt
4  (Daniel Radcliffe, Rupert Grint)    8

In [180]:
answer_ls.append(5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [131]:
def is_profitable(profit):
    if profit > 0:
        return 1
    else:
        return 0

data['is_profitable'] = data['profit'].apply(is_profitable)

director_set = set()
for text in data.director:
    for drc in text.split('|'):
        director_set.add(drc)
        
director_profit = []
for drc in director_set:
    director_profit.append([drc, data[data.director.str.contains(drc)].is_profitable.sum(), len(data[data.director.str.contains(drc)])])
    
director_df = pd.DataFrame(director_profit, columns = ['director', 'profitable', 'cnt'])
director_df['p_profitable'] = director_df['profitable'] / director_df['cnt']

director_df.loc[director_df['director'].isin(['Quentin Tarantino','Steven Soderbergh','Robert Rodriguez',
                                              'Christopher Nolan', 'Clint Eastwood'])]

              director  profitable  cnt  p_profitable
226  Quentin Tarantino           6    7      0.857143
570     Clint Eastwood          10   12      0.833333
723  Christopher Nolan           8    8      1.000000
842  Steven Soderbergh          10   13      0.769231
868   Robert Rodriguez           8   11      0.727273

In [181]:
answer_ls.append(4)

# Submission

In [182]:
len(answer_ls)

36

In [183]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       3
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4